<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main>
    <form action="/admin/add-product" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" type="text" id="title" />
            <button class="btn btn-primary" type="submit">Add product</button>
        </div>
    </form>
</main>
<%- include('../includes/end.ejs') %>