<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">
        <title>Add product</title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__list-item">
                    <li class="main-header__item"><a href='/'>User</a></li>
                    <li class="main-header__item"><a class='active' href='/admin/add-product'>Add product</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form class="product-form" action="/admin/add-product" method="POST">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input name="title" type="text" id="title" />
                    <button type="submit">Add product</button>
                </div>
            </form>
        </main>
    </body>
</html>