extends layouts/main-layout.pug

block content
    if prods.length > 0
        div.card-deck.mb-3.text-center
            each product in prods
                div.card.mb-4.box-shadow
                    div.card-header
                        h5.card-title #{product.title}
                        img.card-img-top(src="https://cdn.pixabay.com/user/2019/11/12/18-53-20-554_250x250.jpg" alt="Card image cap")
                    div.card-body
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        h2.card-title.pricing-card-title $19.99
                        a.btn.btn-primary(href="#") Go somewhere
    else
        h2 No products