<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main class="container d-flex flex-wrap justify-content-center">
    <h2>
        Nothing add
    </h2>
</main>
<%- include('../includes/end.ejs') %>