<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main class="container d-flex flex-wrap justify-content-center">
    <% if (prods.length > 0) { %>
    <% for (let prod of prods) { %>
    <div class="card card-width mb-4 box-shadow d-inline-flex m-2">
        <div class="card-header">
            <h5 class="card-title"><%= prod.title %></h5>
            <img class="card-img-top" src="https://cdn.pixabay.com/user/2019/11/12/18-53-20-554_250x250.jpg"
                alt="Card image cap" />
        </div>
        <div class="card-body text-center">
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <h2 class="card-title pricing-card-title">
                $19.99
            </h2>
            <a class="btn btn-primary" href="#">
                Go somewhere
            </a>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <h2>No products</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>